html{
    background-color:black;
    color:white;
    scroll-behavior: smooth;
    
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color:burlywood; */
}
.left{
    margin-left: 10px;
}
.name{
    /* color: white; */
    float: left;
    align-items: center;
    justify-content: baseline;
    margin: 10px;
    text-decoration: none;
    list-style: none;
}
.navbar ul{
    position: sticky;
    top: 10px;
    overflow: auto;
    background-color:black;
    padding: 5px;
    /* border-radius: 13px; */
    /* background-color:transparent; */
    border-bottom: 1px solid black;
}
.navbar{
    font-size: 20px;
    display: block;
    /* box-sizing: border-box; */
}

.bar{
    /* margin-right: px; */
    display: block;
    width: 35%;
    margin: 1px auto;
}
.bar li :hover{
    background-color:#09599a;
}

.right li {
    list-style: none;
    float: inline-end;
    margin: 10px 20px 0px 20px;
}
.navbar li a{
    text-decoration: none;
    color: white;
}

.search{
    float: right;
    text-align: center;
    justify-content: center;
}

.logo{
    width: 39px;
    float: inline-start;
    margin: auto;
    cursor: pointer;
}

.search input{
    border-radius: 13px;
    width: 230px;
    height: 30px;
    padding: 6px 0px 6px 0px;
    margin: 5px 10px;
    display: block;
    text-align:center;
    border:none;
}
.container h1{
    text-decoration: underline wheat;
    font-size: 40px;
    margin-bottom: 50px;

}
.container{
    display: block;
    text-align:center;
    box-sizing:border-box;
    margin: 100px 0px 0px 0px;
    overflow: hidden;
    /* border: 1px solid white; */
}
.container h4{
    font-size: 30px;
    text-decoration:underline ; 
}
.container img{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    transition: 0.3s all;
    border: 1px solid white;
}
.container img:hover{
    transform: scale(1.1);
    /* max-width: 100%; */
    overflow: hidden;
    display: block;
    /* box-sizing:content-box; */
}

.container p{
    margin-top: 10px;
}
.blc{
    position: relative;
    display: inline-block;
    margin: 10px;
    text-align:center;
    border:2px solid wheat;
    padding: 10px;
    width: 28%;
    background-color: #050f18d4;
}

/* .content{
    width: 450px;
    display: inline-block;
    margin: auto;
} */

.service{
   /* border:2px solid wheat;    */
   text-align: center; 
   margin: 200px 0px 0px 0px;
   background-color: #050f18d4;
    
    /* background: url("E:\User_2\Downloads\Abstract-Gradient-Blue-Layers-AI-Generated-4K-Wallpaper.jpg") no-repeat center; */
}

.service img{
    width: 50px;
    margin: 50px;
    transition: 0.2s ease-in-out;
}

.service img:hover{
    scale: 1.2;
    cursor: pointer;
}

.link-container{
    margin-top: 100px;
}


.links{
    display: inline-block;
    width: 50%;
    margin: 15px auto;
    padding: 10px;
    border: 1px solid white;
    background-color:#8e8e8e3d;
    color:aliceblue;
    border-radius:10px;
    transition: 0.2s ease-in;
}

.links img{
    width:15px;
    align-items:baseline;
    display: inline-block;
    margin : 0px;
}

.links:hover{
    background-color:white;
    color:red;
    scale: 1.1;
}

.form{
    margin: 50rm;
}


.form input{
    display: block;
    justify-content: center ;
    height: 30px;
    width: 500px;
    margin: 10rm;
    text-align: center;
}