*{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}


body{
    color: black;   
    background: linear-gradient(to right, #6d5af5, #ba8193);
    
}
.wrapper{
    display: flex;
    position: relative;
}
.sidebar{
    position: fixed;
    width: 200px;
    width: 50px;
    height: 100%;
    background-color: #0f172a;

    padding: 30px 0px;
}

.left {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    color:aliceblue;
    /* text-transform: uppercase; */
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
    margin-right: 10px;

}

.left i {
    font-size: 2rem;
    color: red;
}


.sidebar ul li{
   padding: 15px;
   border-top: 1px solid white;
   border-bottom: 1px solid white;
}

.wrapper .sidebar ul li a{
    color:white;
    display: block;
    padding: 2px;
}

.wrapper .sidebar ul li a i {
    width: 25px;
    /* padding-right: 10px; */

}

.wrapper .sidebar ul li:hover{
    background-color:gray;
}

.social_media{
    align-items: end;
}


.wrapper .sidebar .social_media{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform:translateX(-50%) ;
}


.wrapper .sidebar .social_media a{
    display: block;
    width: 40px;
    background-color: #746f85;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    border-radius: 5px;
    padding-top: 5px;
}

.social_media i{
    /* display: flex; */
    justify-content: space-evenly;
    color: white;
    font-size: 25px;
}

.wrapper .main_content{
    width: 100%;
    margin-left:200px ;
}

.wrapper .main_content .header{
    padding: 20px;
    
}


.main_content{
    display: flex;
    padding-top: 20px;
    align-items:center;
    justify-content: center;
    color: aliceblue;
    transition: all 1s;

    /* background-color: rgb(42, 39, 39); */
}
.main_content:hover{
    /* margin-top: 200px; */
}

.navbar{
    position: sticky;
    top: 20px;
    left: 0px;
    background-color: #0f172a;
    display: flex;
    align-items:center;
    justify-content: space-around;
    height: 3rem;
    width: 80%;
    font-size: small;
    border-radius:50px;
    /* filter: blur(1px); */
    /* opacity: 0.2; */
    transition: all 1s;
    /* backdrop-filter: blur(5px) brightness(80%) saturate(120%); */
}
.navbar:hover{
    scale: 1.1;

    box-shadow: 10px 10px 30px black;
}

.navbar:active{
    /* scale: 0.8; */
}
.navbar ul{
    width: 90%;
    display: flex;
    justify-content: center;
}

.navbar ul a{
    padding: 15px;
}

.navbar ul a:hover{
    /* text-decoration: underline; */
    background-color: #746f85;
    border-radius:50px;
}

.fa-circle-up{
    /* padding-right: 60px; */
    font-size: 25px;
    transition: all 1s;
}
.fa-circle-up:active{
    padding-right: 0px;
    /* transform: rotate(360deg); */
    /* transition: transform 2s; */
}


.add-content{
    display: block;
    margin-top: 50px;
    position: relative;
    /* right: 10px; */
    left: 150px;
    height: 500px;
    /* align-items: end; */
    /* justify-content: center; */
    font-size: 50px;
    width: 84%;
    /* background-color: #0f172a; */
}

.add-line{
    display: block;
    width: 60%;
    color: white;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

.add-cart{
    padding-top: 20px;
    display: flex;
    color: white;
    font-size: 17px;
    width: 100%;
    justify-content: space-between;

}
.add-para{
    width: 600px;
}

.img-con{
    width: 90%;
}

.img-con img{
    width: 85%;
}


.add-box{
    background-color: #0f172a;
}

.add-box .heading-1{
    color: #7956ff;
}

.add-box .heading-3{
    font-weight: 100;
    font-family: cursive;   
    color: #7956ff;
}

.box-2{
    /* height: 100vh;    */
    width: 100%;
    /* background-color:#34295f;    */
}

.box4{
    width: 30%;
    /* background-color: white; */
    margin-top: 10px;
}

.add-box-5{
    margin-top: 10px;
    margin-bottom: 10px;
}
.add-box-5 img{
    /* width: 80%; */
   display: flex;
   justify-content: center;     
   padding: 10px 0px 20px ;
   transition: all 0.5s;
}

.add-box-5 img:hover{
    scale: 1.09;
}


.add-start{
    
    background: radial-gradient(80% 75%, #000000, #475569);

}

.add-signal-box{
    background: radial-gradient(10% 75%, #000000, #475569);

}

.add-signal{
    box-shadow:5px 5px 20px black;
    width : 45%;
    background-color: rgb(255, 255, 255);
}

/* .add-signal{
    width: 60%;
    background-color: rgb(112, 39, 39);

} */

