* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input:focus-visible {
    outline: 0;
}

.main {
    background-color: #1b1818;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 650px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 50%);
    background: #7f807f;
    border-radius: 15px;
}

#pass-box {
    width: 100%;
    display: block;
    background-color: rgb(108, 123, 132);
    font-size: 30px;
    padding: 10px;
    border : none;
    border-radius: 4px;
}

#pass-box::placeholder{
    color: rgb(38, 37, 37);
}


#pass-box::selection{
    background-color: #1b1818;
    color: white;
}


#total-char{
    width: 50px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: rgb(108, 123, 132);
    text-align: center;
}

.row {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    font-size: 20px;
}


.btns{
    display: flex;
    flex-direction: column;
}

#btn {
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color: #34495e;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}

#copy {
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color: #34495e;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}

#reset {
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color: #34495e;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}